* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//********************************************/
//* Variable Declaration
//********************************************/
$bgColor: pink;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$bannerBgColor: hotpink;
$myBorder: 

//********************************************/
//* Variable Usage
//********************************************/
body {
  font-family: $fontFamily;
  background-color: $bgColor;
  font-size: $fontSize;
  color: $fontColor;
}

//*******  HEADER *********/
header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 80px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5rem;
      //! içinde bulundğumuz elementi refere etmek için & işareti kullanılır.
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a {
    color: $fontColor;
    text-decoration: none;
  }
}
